# Search through previous commands
"\e[A": history-search-backward
"\e[B": history-search-forward
set show-all-if-ambiguous on
set completion-ignore-case on

# Begin / End of line in screen
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# VI mode !!!
set editing-mode vi
