set show-all-if-ambiguous on
set completion-ignore-case on

# Begin / End of line in screen
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# VI mode !!!
set editing-mode vi

# Source me :)
"\C-x\C-r": re-read-init-file

# Search through previous commands
"\e[A": history-search-backward
"\e[B": history-search-forward

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off
