@define-color color-fg #d0d0d0;
@define-color color-bg #101010;
@define-color color-yellow #c4a000;
@define-color color-accent #64b5f6;
@define-color color-hover #1a1a1a;

* {
    font-family: 'monospace';
    font-size: 13px;
    min-height: 0;
    background: @color-bg;
    color: @color-fg;
    border-radius: 0px;
}

#clock {
    font-weight: 600;
}

#custom-steam {
    padding-left: 1rem;
    padding-right: 1rem;
}

#custom-ps4-controller,
#pulseaudio {
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid @color-yellow;
}

#bluetooth,
#network {
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid @color-bg;
}

#workspaces button {
    color: @color-fg;
    background: transparent;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    border: 1px solid transparent;
}

#workspaces button.focused {
    border-bottom: 3px solid @color-yellow;
}

tooltip {
    font-size: 16px;
    border: 1px solid @color-yellow;
    border-radius: 5px;
}
