[Unit]
Description=Lock session manager
Documentation=man:swayidle(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
          lock 'swaylock -f' \
          before-sleep 'swaylock -f'
Restart=on-failure

[Install]
WantedBy=sway-session.target
