/* --------------------------- */
/*         Animations          */
/* --------------------------- */
@keyframes blink-critical {
    70% {
      color: #EBEBEB;
    }

    to {
        color: #EBEBEB;
        background-color: #B03131;
    }
}

/* --------------------------- */
/*      Global settings        */
/* --------------------------- */

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    background: rgba(0, 43, 54, 0.8);
    color: #eee8d5;
    font-family: FiraCode Nerd Font;
    font-size: 13px;
}

/* Each module */
#battery,
#custom-syncthing,
#custom-ovh,
#custom-bluetooth,
#clock,
#mode,
#backlight,
#network,
#pulseaudio,
#temperature {
    padding-left: 10px;
    padding-right: 10px;
}

/* --------------------------- */
/*      Modules settings       */
/* --------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.full {
    background-color: #859900;
}

#battery.warning.discharging {
    background-color: #dc322f;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    border: 2px solid #EBEBEB;
    border-color: #EBEBEB;
    background: #191919;
}

#clock {
    font-weight: bold;
}

#network.disconnected {
    color: #dc322f;
}

#workspaces button {
    color: #eee8d5;
    padding-top: 2px;
    border-bottom: 2px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces button.focused {
    border-color: #eee8d5;
    background-color: rgba(0, 43, 54, 0.5);
}

#workspaces button.urgent {
    color: #B03131;
    border-color: #B03131;
}

#custom-ovh {
    padding-top: 2px;
    border-bottom: 2px solid #B03131;
}
